{% extends "admin/change_form.html" %}
{% load static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script src="{% static 'operations/js/shipment_lr_generator.js' %}"></script>
{% endblock %}

{% block submit_buttons_top %}
    {% with btns=block.super %}
    <div class="submit-row custom-submit-row">

        {{ btns|safe|cut:"<div class=\"submit-row\">"|cut:"</div>" }}

        {% if back_step_url %}
            <a href="{{ back_step_url }}" class="custom-nav-btn" style="background:#6c757d !important;">
                {{ back_step_label }}
            </a>
        {% endif %}

        {% if next_step_url %}
            <a href="{{ next_step_url }}" class="custom-nav-btn">
                {{ next_step_label }}
            </a>
        {% endif %}

    </div>
    {% endwith %}
{% endblock %}

{% block submit_buttons_bottom %}
    {% with btns=block.super %}
    <div class="submit-row custom-submit-row">

        {{ btns|safe|cut:"<div class=\"submit-row\">"|cut:"</div>" }}

        {% if back_step_url %}
            <a href="{{ back_step_url }}" class="custom-nav-btn" style="background:#6c757d !important;">
                {{ back_step_label }}
            </a>
        {% endif %}

        {% if next_step_url %}
            <a href="{{ next_step_url }}" class="custom-nav-btn">
                {{ next_step_label }}
            </a>
        {% endif %}

    </div>
    {% endwith %}
{% endblock %}
