{% extends "admin/change_list.html" %}

{% block object-tools %}

<div class="top-filter-bar">

     <!-- VEHICLE DROPDOWN -->
    <form method="get" style="display:inline-block; margin-left:10px;">
        <select name="vehicle" onchange="this.form.submit()">
            <option value="">All Vehicles</option>
            {% for v in vehicles %}
                <option value="{{ v.id }}"
                    {% if request.GET.vehicle == v.id|stringformat:"s" %}selected{% endif %}>
                    {{ v.registration_number }}
                </option>
            {% endfor %}
        </select>
    </form>

    <!-- DRIVER DROPDOWN -->
    <form method="get" style="display:inline-block; margin-left:10px;">
        <select name="driver" onchange="this.form.submit()">
            <option value="">All Drivers</option>
            {% for d in drivers %}
                <option value="{{ d.id }}"
                    {% if request.GET.driver == d.id|stringformat:"s" %}selected{% endif %}>
                    {{ d.first_name }} {{ d.last_name }}
                </option>
            {% endfor %}
        </select>
    </form>

    <!-- STATUS DROPDOWN -->
    <form method="get" style="display:inline-block; margin-left:10px;">
        <select name="status" onchange="this.form.submit()">
            <option value="">All Status</option>
            {% for key, label in status_choices %}
                <option value="{{ key }}"
                    {% if request.GET.status == key %}selected{% endif %}>
                    {{ label }}
                </option>
            {% endfor %}
        </select>
    </form>

</div>

{{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="/static/operations/css/top_filters.css">
{% endblock %}
